extends ../layout
block content
	br
	br
	br
	br
	- var id= ''
	- if (BaseDepartment)
		- id= BaseDepartment._id
	form(action="/Admin/departments/new/" + id method="post")
		p
			input(type="text" required name="Type" placeholder="Тип")
		p
			input(type="text" required name="Name" placeholder="Название")
		p
			input(type="submit" required value="Отправить")