extends ../layout
block content	
	#main
		form#rootup(action="/Admin/rootup/" method="post") 	
			p Логин:
			p
				input(type="text" required name="username")
			p Пароль:
			p
				input(type="password" required name="password")
			p
				input(type="submit" value="Отправить")