extends ../layout
block content
	br
	br
	p
		WellCome to RootMenu, #{admin.AdminName}!
	P
		a(href="/Admin/users") Юзвери
	P
		a(href="/Admin/departments") Подразделения
	P
		a(href="/Admin/ads") Объявления