header{
    background-color: #f4f4f4;
    height: 20px;
    min-width: 1200px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header div {
    display: inline;
}

div#greeting {
	float: left;
	width: 250px;
}

div#menu{	
	margin-left: 20px;
}

div#help-menu{
	float: right;
}

div.button{
	margin: 5px;
}