#menu
	.button
		a(href='/nop') Посмотреть объявления
	.button
		a(href='/nop') Поиск по тегам
	- if (user)
		.button
			a(href='/nop') Написать объявление
		.button
			a(href='/nop') Горячее