extends ../layout
block content
	form(action="/Users/new/" method="post") 	
		p Имя:
		p
			input(type="text" name="username")
		p Пароль:
		p
			input(type="password" name="password")
		p
			input(type="submit" value="Акей")
		