extends ../layout
block content
	#main
		#email
			Чтобы со мной связаться пишите сюда - vitaliy-suhov@bk.ru
		#github
			Ссылка на репозиторий - https://github.com/nexerd/ATables
		#hithubProfile
			Мои профиль на github.com - https://github.com/nexerd