extends ../layout
block content
	#main
		#developers
			Это учебный проект, выполеннный в качестве курсовой работы по дисцилинам "Конструирование програмнго обеспечения", "Конструирование интернет приложений", "Проектирование человекомашинного интерфейса" студентом группы 3-42 факульета ИВТФ Ивановского Энергетического Университета им. В. И. Ленина Суховом Виталием Владимировичем.