extends ../layout
block content
	style
		include ../../public/stylesheet/userDepartments.css
	#main
		- if (user.Departments)
			- each department in user.Departments
				.department(value= department.DocDepartment._id)
					.department_type= department.DocDepartment.Type
					.department_name= department.DocDepartment.Name
					a(id='department_link' href="/Tables/"+ department.DocDepartment.TableId)= 'Перейти'