extends ../layout
block content
	form(action="/Ads/new/" + _tableId method="post") 	
		p
			input(type="text" name="Name" placeholder="Заголовок")
		p
			textarea(name="Text" placeholder="Текс объявления")
		p
			input(type="text" name="Tag" placeholder="#Тэг")
		p
			input(type="submit" value="Отправить")
