extends layout
block content
	h1 #{text}
	- each item in Faculties
		p
			a(href="Departments/"+item._id)= item.Name
	p
		a(href="Users/create/") Регистрация		
	p 
		- if (!user)
			a(href="Users/login/") Вход
		- if (user)			
			a(href="Users/logout/") Выход